---
openapi: 3.0.3
info:
  description: |-
    This document describes the REST API and resources provided by ePortal.
    To use a REST API, your application will make an HTTP request and parse the response.
    The response format is JSON. Your methods will be the standard HTTP methods like GET, PUT, POST and DELETE.
    Because the REST API is based on open standards, you can use any web development language to access the API.

    The current notification API documentation can be found in the notification API project.
  title: ePortal external (REST API)
  version: 1.7.0
servers:
  - url: https://pams-api.eportal.admin.ch
  - url: https://pams-api.eportal-a.admin.ch
  - url: https://pams-api.eportal-r.admin.ch
  - url: https://notification-api.eportal.admin.ch
  - url: https://notification-api.eportal-a.admin.ch
  - url: https://notification-api.eportal-r.admin.ch
tags:
  - name: Authentication
    description: ""
  - name: eIAM
    description: ""
  - name: API Selfservice
    description: ""
  - name: Business Partner
    description: ""
  - name: ONE & Connex
    description: ""
  - name: Group
    description: ""
  - name: Group Types
    description: ""
  - name: Roles
    description: ""
  - name: Notification
    description: |-
      Use the notification server for these requests `https://notification-api.eportal{{env}}.admin.ch`.
      The current notification API documentation can be found in the notification API project.
  - name: Profile
    description: ""
  - name: Invitation
    description: ""
  - name: Statistics
    description: ""
  - name: Widget
    description: ""
  - name: Machine2Machine
    description: ""
  - name: Announcements
    description: ""
  - name: Help and Contact Information
    description: ""
  - name: Maintenance (deprecated, use "/api/announcement" instead)
    description: ""
paths:
  /api/login:
    get:
      tags:
        - Authentication
      summary: Login
      description: |-
        Direct login links can be implemented by redirecting the user to this page. There are various url parameters to customise the login behaviour.
        Login will redirect to eIAM and generate the authentication cookie after correct login.
      parameters:
        - name: returnURL
          in: query
          description: URL to which the user should be redirected. This parameter can also be `returlUrl` or `returnurl`
          schema:
            type: string
        - name: appid
          in: query
          description: allows us to specify the return URL with an application URL. Ignored if `returnURL`parameter is filled
          schema:
            type: string
        - name: language
          in: query
          description: set the language for eIAM
          schema:
            type: string
        - name: stepup
          in: query
          description: force to step up to 2 factor authentication
          schema:
            type: boolean
        - name: guestlogin
          in: query
          description: force to go to eIAM guest login window
          schema:
            type: boolean
        - name: stepup3plus
          in: query
          description: force to step up to level 3+ login
          schema:
            type: boolean
      security: [] # no authentication
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: text/html; charset=utf-8
            Set-Cookie:
              schema:
                type: string
                example: |-
                  pams=...;
                  path=/; domain=admin.ch; HTTPonly; Secure
          content:
            text/plain:
              schema:
                type: string
  /api/autologin:
    get:
      deprecated: true
      tags:
        - Authentication
      summary: Autologin (deprecated)
      description: |-
        Deprecated, use /api/v2/autologin instead.
      responses:
        "200":
          description: OK
    post:
      deprecated: true
      tags:
        - Authentication
      summary: Autologin (deprecated)
      description: |-
        Deprecated, use /api/v2/autologin instead.
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: OK
  /api/v2/autologin:
    get:
      tags:
        - Authentication
      summary: Autologin V2
      description: |-
        Autologin checks if a user is authenticated and returns basic user information,
        along with the users roles. A check compares the required login level of the application
        (sent in token in the header `Authorization`) with the login level of the current user.
        ### Error codes
        **`1141`: Insufficient Login Level**: if the login level of the user is lower than the login level of the application
        **`1142`: Validation of Login Level failed** in case of login level validation error.
      security: [{ applicationToken: [], SSOCookie: [] }]
      parameters:
        - name: Authorization
          description: JWT bearer
          in: header
          schema:
            type: string
        - name: withHasRole
          description: If you specify this boolean parameter, the response will contain a field saying if the user has a role or not.
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutologinResponse"
              examples:
                example-0:
                  summary: Mode 1 application
                  value:
                    success: true
                    statusCode: 200
                    data:
                      level: S3+OK
                      profile:
                        firstName: Edith
                        lastName: Latrop
                        userUID: BB54B73D-01CB-11E8-B814-005056AE5FB8
                        extEIAMID: "216480"
                        language: en
                        eportalLanguage: en
                        isSupport: true
                        username: Edith Latrop
                      groups:
                        - groupID: 6582
                          groupUID: "6582"
                          groupForeignID: "6582"
                          applicationID: 51
                          isOwner: true
                          name: All ESTV
                          parentGroupID:
                            value: 0
                            isset: false
                          roles:
                            - 211
                          rolesRights:
                            - uid: application_admin
                              isAdmin: true
                              isExclusive: true
                              name: Portal Administrator
                      hasRole: true
                example-1:
                  summary: Mode 2 application
                  value:
                    success: true
                    statusCode: 200
                    data:
                      level: S2+OK
                      profile:
                        firstName: Edith
                        lastName: Latrop
                        userUID: BB54B73D-01CB-11E8-B814-005056AE5FB8
                        extEIAMID: "216480"
                        language: en
                        eportalLanguage: en
                        isSupport: true
                        username: Edith Latrop
                      businesspartners:
                        - id: "5202113221"
                          description: Bantiger Elektro AG (CHE-115.308.306)
                          roles:
                            - uid: PARTNER_READ
                              isAdmin: false
                              isExclusive: false
                              name: |-
                                Daten des/der registrierten Unternehmens/Person
                                lesen
                example-2:
                  summary: User not logged in
                  value:
                    success: true
                    statusCode: 200
                    data:
                      level: SA
                      profile:
                        lastName: Anonymous
                        username: Anonymous
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWrapperError"
              examples:
                example-0:
                  summary: Insufficient Login Level
                  value:
                    success: false
                    statusCode: 401
                    errorCode: 1141
                    message: Insufficient Login Level
                example-1:
                  summary: Validation of Login Level failed
                  value:
                    success: false
                    statusCode: 401
                    errorCode: 1142
                    message: Validation of Login Level failed
  /api/logout:
    post:
      tags:
        - Authentication
      summary: Logout
      description: |-
        Logout from ePortal and from eIAM. After logout, it should
        return to the application url. In the default case you will be
        redirected to the ePortal start page.
      requestBody:
        content:
          application/json:
            schema:
              type: object
      parameters:
        - name: appid
          description: The return address will be the address specify by this parameter
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                type: string
  /api/publickey:
    get:
      tags:
        - Authentication
      summary: Read public key
      description: |-
        This endpoint allows us to get a public key of an application.

        ### Error codes

        **`1017`: Application not Found**: if the application specified by the id parameter cannot be found.
      parameters:
        - name: id
          description: specify the id of the wanted applications public key
          in: query
          required: true
          schema:
            type: integer
      security:
        - applicationToken: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
                statusCode: 200
                data: >
                  -----BEGIN PUBLIC KEY-----
                  MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArXEZQfQrfRGUsMRRQnXL
                  YufJdYhzVaNDCkki5AVo09lIYGnmAthr/H6pzenm4qlUSYyEWuYRImykgO9f7P3V
                  281H2o43re6V6RYakuhcXptBsHDBHIfJcuGaXUwU2Z1UmffaF4mpZMfIjlpQHZ3f
                  s1FQcGVJH4mQUmCWn3VZesed6+wdrp72ugeDoMPIni/lIUlCUF6fg5JNqvWMCOeb
                  qynzkV2FkJc/FG7wtKKuU5Qt1FeD/cIdSD5rdV0xq7amMMaxWpVizTgp628DM7sl
                  y9BLX6PDjR2QnMWo/fGCPzpbNUs4p0pjNBUkg3TiByRM5qGUUBk9/525fqFpalWg
                  qQIDAQAB
                  -----END PUBLIC KEY-----
  /api/saml2/eiam/logout:
    post:
      tags:
        - eIAM
      summary: EIAM Logout for Swisstax Migration
      description: |-
        This endpoint is used by EIAM during the migration of SwissTax users. It
        allows to initiate a disconnection of pams from EIAM applications. It
        will receive a SAML file which will have to be validated and then it
        will delete the user's connection cookies. It will then send back a SAML
        file to EIAM to validate the disconnection.

        To test this endpoint locally, it is necessary to have a file named
        `eiamLogoutRequest.xml` in the output folder of your working
        environment.

        This SAML file must contain the XML request as sent by EIAM.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                SAMLRequest:
                  type: string
                  format: binary
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /api/selfservice/user/{userUID}/roles:
    get:
      tags:
        - API Selfservice
      summary: User Roles
      description: |-
        A business partner user can query all his roles in context with API and
        accross all tenants and in order to realise a connection.
        See
        [https://www.jira.estv.admin.ch/jira/browse/TPEFD-4090](https://www.jira.estv.admin.ch/jira/browse/TPEFD-4090)

        ## Security
        - Request needs to be done from one of these applications:
          - 51 (Application Manager)
          - 300906 (API Manager)
          - 91 (BAZG API Selfservice)
          - 300040 (ESTV API Selfservice)
        - User Login Level needs to be at least S2Plus
      parameters:
        - name: userUID
          in: path
          schema:
            type: string
          required: true
          example: BB54B73D-01CB-11E8-B814-005056AE5FB8
      security: [{ applicationToken: [], SSOCookie: [] }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SelfServiceUserRolesResponse"
              example:
                success: true
                statusCode: 200
                data:
                  - tenantUID: FCA
                    tenantNameDE: EZV
                    tenantNameFR: AFD
                    tenantNameIT: AFD
                    tenantNameEN: FCA
                    BusinessPartnerRoles:
                      - businessPartnerForeignID: RED
                        businessPartnerName: Red company
                        roles:
                          - roleUID: Bier_Verwalten
                          - roleUID: Beer_Admin
                      - businessPartnerForeignID: BLUE
                        businessPartnerName: Blue company
                        roles:
                          - roleUID: devs-user
                          - roleUID: edvs-admin
  /api/selfservice/validate/businesspartners/{foreignID}/roles:
    put:
      tags:
        - API Selfservice
      summary: Business Partner Roles Validation
      description: |-
        Then for every role in parameter roleuids it is checked if the given
        business partner (foreignID variable) has a valid link to that role via
        business user where business user
        - is either linked to the profile as admin of a profile (Business User
        linked to Profile via tabProfileGroup)
        - or is normally linked to the profile (Business User linked to Profile
        via relBusinessUserProfile)

        Valid link is meant in the sense that linked profile group, profile and
        role are active and application type of application linked to role is 0
        (Web Service).

        All found roles from roleuid's list are then returned as true, all roles
        from roleuid's list which were not found are returned as false

        ## Security
        - Request needs to be done from one of these applications:
          - 51 (Application Manager)
          - 300906 (API Manager)
          - 91 (BAZG API Selfservice)
          - 300040 (ESTV API Selfservice)
      requestBody:
        content:
          application/json:
            schema:
              type: object
      parameters:
        - name: roleuids
          description: comma separated list of role uids
          in: query
          schema:
            type: string
          example: BAZG_Bier_Verwalten,devs-user,bla
        - name: foreignID
          in: path
          schema:
            type: string
          required: true
          example: BLUE_ESTV
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
                statusCode: 200
                data:
                  businessPartnerForeignID: BLUE_ESTV
                  roles:
                    BAZG_Bier_Verwalten: true
                    bla: false
                    devs-user: true
  /api/v2/m2m/groups:
    post:
      deprecated: true
      tags:
        - Machine2Machine
      summary: Create Groups V2
      description: |-
        **This endpoint is deprecated use /api/applications/{application-id}/groups instead.**

        Create new groups. Calling application must have the m2m-enabled flag set.
      requestBody:
        $ref: "#/components/requestBodies/create_groups_v2_post"
      security:
        - applicationToken: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWrapper"
              examples:
                example-0:
                  summary: Succeded - Group Creation
                  value:
                    success: true
                    statusCode: 200
                    data: true
                example-1:
                  summary: Failed - Create Groups
                  value:
                    success: false
                    statusCode: 200
                    errorCode: 2102
                    message: at least one group is required
  /api/v2/m2m/groups/invitations:
    post:
      tags:
        - Machine2Machine
      deprecated: true
      summary: Create group invitation codes V2
      description: |-
        **This endpoint is deprecated use /api/m2m/applications/{applicationID}/groups/invitations instead.**  


        Create invitation codes for mode 1 (groups/roles). 
        Calling application must have the m2m-enabled flag set.
      requestBody:
        $ref: "#/components/requestBodies/create_group_invitations_v2_post"
      security:
        - applicationToken: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWrapper"
              examples:
                example-0:
                  summary: Succeded - Group Creation
                  value:
                    success: true
                    statusCode: 200
                    data:
                      group1:
                        - invitation_code_1
                      group2:
                        - invitation_code_2
                        - invitation_code_3
                        - invitation_code_5
                example-1:
                  summary: Failed - Create Groups
                  value:
                    success: false
                    statusCode: 200
                    errorCode: 2112
                    message: given group type must already exist
  /api/m2m/group:
    post:
      deprecated: true
      tags:
        - Machine2Machine
      summary: Create Groups
      description: |-
        **This endpoint is deprecated use /api/applications/{application-id}/groups instead.**

        The endpoint to create groups form an application and generates the invitation codes.

        ### Error codes
        **`6`: Wrong Request, Page not found**: If the body is malformed
        **`1012`: no right to perform this action**
        **`2`: Wrong Request, Page not found**: DB read error
        **`4`: Wrong Request, Page not found**: DB create error
      requestBody:
        $ref: "#/components/requestBodies/createGoup_post"
      security:
        - applicationToken: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateGroupResponse"
              examples:
                example-0:
                  summary: Succeded - Group Creation
                  value:
                    success: true
                    statusCode: 200
                    data:
                      - groupID: 6706
                        name: New Group 1
                        invitationCode: 65005ca7-10b8-4518-5e61-6dbe229f9e2b
                example-1:
                  summary: Failed - Create Groups Copy
                  value:
                    success: false
                    statusCode: 200
                    errorCode: 1012
                    message: user does not have right to perform this action
  /api/m2m/groups/{groupID}:
    delete:
      tags:
        - Machine2Machine
      summary: Delete Group (VST-DE)
      description: |-
        The endpoint to delete a group. Only valid for application ID 41 (VST-DE/eFDE).

        ### Error codes
        **`18`: data not found**: If the groupUID does not exist (for the app).
        **`401`: authentication error**: If application id is not valid.
      parameters:
        - name: groupID
          description: Specify the group to be deleted
          in: path
          schema:
            type: number
          required: true
      security:
        - applicationToken: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResponseWrapper"
                  - type: object
                    properties:
                      data:
                        type: boolean
              examples:
                example-0:
                  summary: Succeded - Group Deleted
                  value:
                    success: true
                    statusCode: 200
                    data: true
                example-1:
                  summary: Failed - group not found
                  value:
                    success: false
                    statusCode: 200
                    errorCode: 18
                    message: data not found
                example-2:
                  summary: Failed - invalid app
                  value:
                    success: false
                    statusCode: 200
                    errorCode: 401
                    message: authentication error
  /api/m2m/group/{groupID}/invite:
    post:
      tags:
        - Machine2Machine
      deprecated: true
      summary: Generate Group Invitation Codes
      description: |-
        **This endpoint is deprecated use /api/m2m/applications/{applicationID}/groups/invitations instead.**  

        The endpoint to generate the list of invitation codes from an application.

        ### Error codes  
        **`1038`: u-service return an error**  
        **`1018`: Can not create more than 100 invitations**
      requestBody:
        $ref: "#/components/requestBodies/groupInvite_post"
      parameters:
        - name: groupID
          description: Specify the group for which you want to create the invitation code
          in: path
          schema:
            type: string
          required: true
      security:
        - applicationToken: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateGroupInvitationsResponse"
              example:
                success: true
                statusCode: 200
                data:
                  - c978b5b9-35a2-4aaa-7e65-5521da2e9076
                  - 8e1ea543-4f17-4d16-7bf5-f1ef34aa7297
                  - 054dcbf8-30b0-49d0-5b84-7f0ccb4e38d7
                  - 3c2d6b6b-6b71-4253-48ba-531f7cf2279d
                  - 8ec95777-caa7-4dbb-4789-97e359917e62
                  - f89a5820-ac2b-4a5d-556b-ba89c7945474
                  - 932f5232-b2db-4547-7b26-652d1155b935
                  - 2a38fe6d-6110-4676-5bb5-501d6e51dd1a
                  - 937824ec-26b0-4d46-77d5-aeeb54861b9d
                  - 9a9723bd-f31e-4db7-4fd9-1a6298201ff5
  /api/businesspartners:
    post:
      tags:
        - Business Partner
      summary: Create Businesspartner
      description: |-
        Add a new business partner in PAMS, with an existing user (that becomes
        an admin of this business partner) and at least one existing profile
        group.

        ### Authorization

        Only the following applications may use this endpoint:
        - Connex (34)
        - ePortal Notification (52)
        - myESTV (200257)
        - Form (301337)
        - Swiyu Core (301346)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BusinessPartner"
            example:
              success: true
              statusCode: 200
              data:
                foreignID: SAP_NEW_BP_TEST
                name: My Business Partner
                addInfo: Interner EZV Geschäftspartner
                ProfileGroups:
                  - profileGroupForeignID: CONNEX-SELFCARE
                    name: Geschäftspartner DE
                    adminUserUIDs:
                      - 552431CB-A13C-49B1-7DEA-3357E6B646D9
                      - A68123E5-27E8-4121-7357-894A454EB728
                      - 858C8B48-3BC0-47C1-45F5-55698920900A
                      - BB54B73D-01CB-11E8-B814-005056AE5FB8

      parameters:
        - name: linkprofiles
          in: query
          schema:
            type: integer
          description: |-
            0 or 1, allows to indicate if the link between
            business and profiles should be built.
          example: "0"
      security:
        - applicationToken: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWrapper"
              example:
                success: true
                statusCode: 200
  /api/businesspartners/{foreignID}:
    put:
      tags:
        - Business Partner
      summary: Update Businesspartner
      description: |-
        Update a business partner name, addInfo and profile group to user
        relations.

        ProfileGroups are always additive.

        ### Authorization

        Only the following applications may use this endpoint:
         - Connex (34)
         - ePortal Notification (52)
         - myESTV (200257)
         - Form (301337)
         - Swiyu Core (301346)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: business partner name.
                  type: string
                addInfo:
                  description: additional information of business partner
                  type: string
                ProfileGroups:
                  description: a
                  type: array
                  items:
                    type: object
                    required:
                      - profileGroupForeignID
                      - adminUserUIDs
                    properties:
                      profileGroupForeignID:
                        description: profile group foreign ID
                        type: string
                      name:
                        description: name of profile group
                        type: string
                      adminUserUIDs:
                        description: array of userUIDs to be the administrator ob this business partner.
                        type: array
                        items:
                          type: string
              example:
                name: My Business Partner (optional2)
                addInfo: Business partner details (optional2)
                ProfileGroups:
                  - profileGroupForeignID: BAZG_BIER_VERWALTEN
                    adminUserUIDs:
                      - 552431CB-A13C-49B1-7DEA-3357E6B646D9
                      - A68123E5-27E8-4121-7357-894A454EB728
                      - 7CDE937B-2A9C-46C6-4BB3-ACB7ACA671D9
                      - BB54B73D-01CB-11E8-B814-005056AE5FB8
                  - profileGroupForeignID: dataanalytics
                    adminUserUIDs:
                      - 552431CB-A13C-49B1-7DEA-3357E6B646D9
                      - A68123E5-27E8-4121-7357-894A454EB728
                      - 7CDE937B-2A9C-46C6-4BB3-ACB7ACA671D9
                      - BB54B73D-01CB-11E8-B814-005056AE5FB8
      parameters:
        - name: linkprofiles
          in: query
          schema:
            type: integer
          description: |-
            0 or 1, allows to indicate if the link between
            business and profiles should be built.
          example: "0"
        - name: foreignID
          description: business partner foreign ID
          in: path
          schema:
            type: string
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWrapper"
              example:
                success: true
                statusCode: 200
    get:
      tags:
        - Business Partner
      summary: Get Business Partner
      description: |-
        Returns the business partners, it's profile groups foreign IDs and the
        admin userUID of the admin of those profile Groups.

        ### Authorization

        Only the following applications may use this endpoint:
         - Connex (34)
         - ePortal Notification (52)
         - myESTV (200257)
         - Form (301337)
         - Swiyu Core (301346)
      parameters:
        - name: lang
          description: language expected for the response.
          in: query
          schema:
            type: string
        - name: foreignID
          description: Business partner foreign ID.
          in: path
          schema:
            type: string
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BusinessPartner"
              example:
                success: true
                statusCode: 200
                data:
                  foreignID: "1000037894"
                  name: Bauag AG
                  addInfo: Twäracherstrasse 8 8124 Maur
                  ProfileGroups:
                    - profileGroupForeignID: CONNEX-SELFCARE
                      name: Geschäftspartner Selfcare
                      adminUserUIDs:
                        - 1C875156-0875-4434-7BC3-E00AA01B9C27
                        - BB54B73D-01CB-11E8-B814-005056AE5FB8
                    - profileGroupForeignID: bier
                      name: Bierhersteller
                      adminUserUIDs:
                        - 1C875156-0875-4434-7BC3-E00AA01B9C27
                    - profileGroupForeignID: ZKH14
                      name: LSVA Halter
                      adminUserUIDs:
                        - 1C875156-0875-4434-7BC3-E00AA01B9C27
    delete:
      tags:
        - Business Partner
      summary: Delete Business Partner
      description: |-
        Removes the business partner (provided by foreignID).
        All relations to users and profileGroups will also be removed.

        ### Authorization

        Only the following applications may use this endpoint:
         - Connex (34)
         - ePortal Notification (52)
         - myESTV (200257)
         - Form (301337)
         - Swiyu Core (301346)
      parameters:
        - name: foreignID
          description: Business partner foreign ID.
          in: path
          schema:
            type: string
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWrapper"
              example:
                success: true
                statusCode: 200
  /api/profilegroups:
    get:
      tags:
        - Business Partner
      summary: Get Profile Groups
      description: |-
        Return the list of all profile groups of the tenant.

        ### Authorization

        Only the following applications may use this endpoint: 
         - Connex (34)
         - ePortal Administration (51)
         - myESTV (200257)
         - Form (301337)
         - Swiyu Core (301346)
      security:
        - applicationToken: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ResponseWrapperSuccess"
                  - $ref: "#/components/schemas/ResponseWrapperError"
              example:
                success: true
                statusCode: 200
                data:
                  - profileGroupForeignID: 1234-asdf-1234
                    name: import/export
                  - profileGroupForeignID: 9876-fdsa-9876
                    name: not import/export
  /api/businesspartners/{foreignID}/profilegroups:
    delete:
      tags:
        - Business Partner
      summary: Delete Profile Group of Business Partner
      description: |-
        Removes the profile groups (provided in *pgid*) from the business
        partner (provided by *foreignID*).

        All users that no longer have a profile group for the business partner
        will no longer be part of the business partner.

        ### Authorization

        Only the following applications may use this endpoint:
         - Connex (34)
         - ePortal Notification (52)
         - myESTV (200257)
         - Form (301337)
         - Swiyu Core (301346)
      parameters:
        - name: pgid
          in: query
          required: true
          schema:
            type: string
          description: Comma seperated list of profileGroupUIDs (profile group foreign IDs)
          example: 1234-asdf-1234,9876-fdsa-9876
        - name: foreignID
          in: path
          schema:
            type: string
          description: business partner foreign ID
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWrapper"
              example:
                success: true
                statusCode: 200
  /api/tenants/{tenantID}/profiles/{profileID}:
    get:
      tags:
        - Business Partner
      summary: Get profiles and roles for tenant profile
      description: |-
        Returns the profile and associated roles for the given profileID of a given tenantID.

        ### Authorization  

        *   The user must have access to an application belonging to the tenant.
        *   The user must have at least User Level 3
        *   The application token must be valid.

        ### Error Codes  
        - `1081`: ProfileID doesn't exist

      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: "{{token}}"
        - name: tenantID
          in: path
          schema:
            type: integer
          required: true
        - name: profileID
          in: path
          schema:
            type: integer
          required: true
      responses:
        "200":
          description: Response for success or error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ResponseWrapperSuccess"
                  - $ref: "#/components/schemas/ResponseWrapperError"
              examples:
                example-0:
                  summary: An example of response Success
                  value:
                    success: true
                    statusCode: 200
                    data:
                      tenantID: 1
                      profileID: 16
                      descriptionDE: Bier Deklarant
                      descriptionEN: Beer declarant
                      descriptionFR: Déclarant de bière
                      descriptionIT: Dichiarante della birra
                      isADSyncActive: false
                      lastADSyncDate: ""
                      lastADSyncSuccess: false
                      profileADDN: ""
                      profileForeignID: BIER_VERWALTEN
                      profileGroupForeignID: BIER_VERWALTEN
                      profileGroupID: 12
                      profileGroupNameDE: Bierhersteller
                      profileGroupNameEN: Beer producer
                      profileGroupNameFR: Producteur de bière
                      profileGroupNameIT: Produttore di birra
                      isExclusive: false
                      updateDate: "2022-05-06 17:07:25"
                      roleList:
                        - IsAdmin: false
                          RoleUID: Bier_Verwalten
                          appName: Biera (EN)
                          descriptionDE: Bier deklarieren
                          descriptionEN: Declaration of beers
                          descriptionFR: Déclarer des bières
                          descriptionIT: Dichiarare le birre
                          email: stephan.christen@gs-efd.admin.ch
                          roleID: 155
                          updateDate: "2020-09-11 12:58:44"
                        - IsAdmin: false
                          RoleUID: BAZG_Bier_Verwalten
                          appName: Biera (EN)
                          descriptionDE: Bierdeklarationen verwalten
                          descriptionEN: Manage beer declarations
                          descriptionFR: Gérer les déclarations de bière
                          descriptionIT: Gestire le dichiarazioni sulla birra
                          roleID: 156
                          updateDate: "2020-08-27 21:52:00"
                        - IsAdmin: false
                          RoleUID: risico_read
                          appName: Risico
                          descriptionDE: Risikoanalyse lesen
                          descriptionEN: Read risk analysis
                          descriptionFR: Lire l'analyse des risques
                          descriptionIT: Leggere l'analisi dei rischi
                          roleID: 203
                          updateDate: "2020-08-27 21:52:00"
                        - IsAdmin: true
                          RoleUID: Beer_Admin_Test
                          appName: Biera (EN)
                          descriptionDE: Beer_Admin_Test_Description_DE
                          descriptionEN: Beer_Admin_Test_Description_EN
                          descriptionFR: Beer_Admin_Test_Description_FR
                          descriptionIT: Beer_Admin_Test_Description_IT
                          email: beadmin@horii.ch
                          roleID: 1462
                          updateDate: "2021-05-06 09:36:38"
                example-1:
                  summary: An example of response Error
                  value:
                    success: false
                    statusCode: 200
                    errorCode: 1132
                    message: "The group has no roles"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWrapperError"
              example:
                value:
                  success: false
                  statusCode: 401
                  errorCode: 401
                  message: unauthorized access
  /api/tenants/{tenantID}/roles:
    get:
      tags:
        - Business Partner
      summary: Get Roles for Tenant
      description: |-
        Returns a list of all roles associated to a tenant.
        It is possible to filter this list for a specific application.

        ### Authorization  

        *   The user must have access to an application belonging to the tenant.
        *   The user must have at least User Level 3
        *   The application token must be valid.

        ### Error Codes
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: "{{token}}"
        - name: tenantID
          in: path
          required: true
          schema:
            type: integer
        - name: applicationID
          in: query
          schema:
            type: number
            example: 1
      responses:
        "200":
          description: Response for success or error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ResponseWrapperSuccess"
                  - $ref: "#/components/schemas/ResponseWrapperError"
              examples:
                example-0:
                  summary: An example of response Success
                  value:
                    success: true
                    statusCode: 200
                    data:
                      - applicationID: 32
                        applicationName: Biera (FR)
                        isAdmin: false
                        roleID: 155
                        roleName: Déclarer des bières
                        roleUID: Bier_Verwalten
                      - applicationID: 32
                        applicationName: Biera (FR)
                        isAdmin: false
                        roleID: 156
                        roleName: Gérer les déclarations de bière
                        roleUID: BAZG_Bier_Verwalten
                      - applicationID: 56
                        applicationName: jeap-microservice
                        isAdmin: false
                        roleID: 168
                        roleName: Jeap Example Read FR
                        roleUID: JEAP_EXAMPLE_READ1
                      - applicationID: 56
                        applicationName: jeap-microservice
                        isAdmin: false
                        roleID: 169
                        roleName: Jeap Example Write FR
                        roleUID: JEAP_EXAMPLE_WRITE
                      - applicationID: 34
                        applicationName: Connex
                        isAdmin: true
                        roleID: 200
                        roleName: Administrateur des partenaires commerciaux
                        roleUID: CONNEX_SELFCARE_ADMIN
                      - applicationID: 34
                        applicationName: Connex
                        isAdmin: false
                        roleID: 201
                        roleName: Partenaires commerciaux Employés
                        roleUID: CONNEX_SELFCARE_EMPLOYEE
                      - applicationID: 34
                        applicationName: Connex
                        isAdmin: true
                        roleID: 202
                        roleName: Administrateur Gestion des partenaires commerciaux
                        roleUID: CONNEX_ADMINISTRATOR
  /api/tenants/{tenantID}/applications:
    get:
      tags:
        - Business Partner
      summary: Get Applications for Tenant
      description: |-
        Returns a list of all applications associated to a tenant.
        It is possible to add a language parameter to return the application name in the desired language.

        ### Authorization  

        *   The user must have access to an application belonging to the tenant.
        *   The user must have at least User Level 3
        *   The application token must be valid.

        ### Error Codes

      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: "{{token}}"
        - name: tenantID
          in: path
          required: true
          schema:
            type: integer
        - name: lang
          in: query
          schema:
            type: string
            example: "EN"
      responses:
        "200":
          description: Response for success or error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ResponseWrapperSuccess"
                  - $ref: "#/components/schemas/ResponseWrapperError"
              examples:
                example-0:
                  summary: An example of response Success
                  value:
                    success: true
                    statusCode: 200
                    data:
                      - applicationID: 32
                        name: Biera (FR)
                      - applicationID: 56
                        name: jeap-microservice
                      - applicationID: 34
                        name: Connex
  /api/businesspartnersprofiles:
    get:
      tags:
        - ONE & Connex
      summary: Businesspartner's profile users
      description: |-
        Allows us to retrieve the `business partners` that are managed by the
        application that makes the call to this endpoint. It also retrieves the
        `users`, `profiles` and `profileGroups` of these `business partners`.

        ### Authorization

        Only the following applications may use this endpoint:
         - Connex (34)
         - ePortal User Management (50)
         - API Selfservice (92)
         - myESTV (200257)
         - Panorama (300967)
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: "{{AppOneToken}}"
        - name: partnerForeignID
          in: query
          description: Allows us to specify a BusinessPartner by its `ForeignID`
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ResponseWrapperSuccess"
                  - $ref: "#/components/schemas/ResponseWrapperError"
              example:
                success: true
                statusCode: 200
                data:
                  - foreignID: RED_ESTV
                    name: Red company ESTV
                    addInfo: Add. Info of Red company ESTV
                    profileGroups:
                      - name: Domain Internationales
                        foreignID: SEI
                        descriptionDE: Domain Internationales DE
                        descriptionFR: Domain Internationales FR
                        descriptionIT: Domain Internationales IT
                        descriptionEN: Domain Internationales EN
                        users:
                          - uid: B089B4BE-F416-4FCF-6CC7-3185B235CC78
                            firstName: User Andrea
                            lastName: Red Company ESTV + EZV
                          - uid: 1BA0AADF-6D1E-4DE3-4662-10E902B3442D
                            firstName: Dave
                            lastName: Red
                      - name: Domain Verrechnungsteuer
                        foreignID: DVS
                        descriptionDE: Domain Verrechnungsteuer DE
                        descriptionFR: Domain Verrechnungsteuer FR
                        descriptionIT: Domain Verrechnungsteuer IT
                        descriptionEN: Domain Verrechnungsteuer EN
                        profiles:
                          - foreignID: DVS_EMPL
                            name: Sachbearbeiter
                            addn: AD-PROFILE-NAME
                            descriptionDE: Sachbearbeiter EN
                            descriptionFR: Sachbearbeiter FR
                            descriptionIT: Sachbearbeiter IT
                            descriptionEN: Sachbearbeiter EN
                            users:
                              - uid: suBB52BD23-01CB-11E8-B814-005056AE5FB8
                                firstName: Service
                                lastName: User
                          - foreignID: edvs_test_lab
                            name: eDVS Test LAB Admin
                            addn: AD-PROFILE-NAME
                            descriptionDE: eDVS Test LAB Admin
                            descriptionFR: eDVS Test LAB Admin
                            descriptionIT: eDVS Test LAB Admin
                            descriptionEN: eDVS Test LAB Admin
                            users:
                              - uid: BB54B73D-01CB-11E8-B814-005056AE5FB8
                                firstName: BE
                                lastName: Admin
                              - uid: 543B9834-B465-4337-4DBB-5B90C2D772DA
                                firstName: Monika
                                lastName: Otti
                        users:
                          - uid: AA2B6E27-A898-46F4-5885-F90EF9DF8E59
                            firstName: Admin AndreaT
                            lastName: Red Comany
                          - uid: BB54B73D-01CB-11E8-B814-005056AE5FB8
                            firstName: BE
                            lastName: Admin
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWrapperError"
              example:
                value:
                  success: false
                  statusCode: 401
                  errorCode: 401
                  message: unauthorized access
  /api/businesspartners/{foreignID}/users/{userUID}/profiles:
    put:
      tags:
        - Business Partner
      summary: Edit User Profiles
      description: |-
        Update a users profiles and profile groups for a given business partner.
        If the business partner exists.

        Profiles with `"enabled": true` will be added. Profiles with `"enabled":
        false` will be removed.

        The funtion is idempotent such that adding a profile that a user already
        has, has no effect. Also removing a profile a user does not have, has no
        effect.

        Profiles a user has that are not in the list are not affected, i.e. the
        user keeps those profiles.

        ### Authorization

        Only the following applications may use this endpoint:
         - Risico (24)
         - Savida (25)
         - Agir (26)
         - Connex (34)
         - ePortal User Management (50)
         - myESTV (200257)
         - Form (301337)
         - Swiyu Core (301346)

        ### Error Codes
        **`1118`: Business Partner not found**
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                profiles:
                  type: array
                  items:
                    type: object
                    properties:
                      profileForeignID:
                        type: string
                      enabled:
                        type: boolean
                ProfileGroup:
                  type: array
                  items:
                    type: object
                    properties:
                      profileGroupForeignID:
                        type: string
                      enabled:
                        type: boolean
              example:
                profiles:
                  - profileForeignID: MWSTPRO_EINREICHER
                    enabled: true
                  - profileForeignID: VST_SUBMITTER_PLUS
                    enabled: true
                ProfileGroup: null
      parameters:
        - name: foreignID
          in: path
          schema:
            type: string
          description: business partner foreign ID
          required: true
        - name: userUID
          in: path
          schema:
            type: string
          description: user UID
          required: true
        - name: noNotification
          in: query
          schema:
            type: string
          description: by default false. true = no notification is sent to the user.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWrapper"
              examples:
                example-0:
                  value:
                    success: true
                    statusCode: 200
                    data: true
                example-1:
                  value:
                    success: false
                    statusCode: 200
                    errorCode: 1118
                    message: Business Partner not found
  /api/userauthorizationlist:
    get:
      tags:
        - ONE & Connex
      summary: Get User Authorization List
      description: |-
        ## Authorization

        You can use this endpoint only if you have one of this app token:

        - myESTV (ONE)
        - Connex
        - API Selfservice

        No user required

        ## Error codes

        > **`1143: "Invalid user UID param"`**
        > Received when the userUID list is not present or malformed
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: "{{AppOneToken}}"
        - name: userUIDs
          in: query
          schema:
            type: string
          required: true
          description: List of comma separated userUIDs
          example: "{{BenSugdenUserUID}}"
      responses:
        "200":
          description: Response for success or error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ResponseWrapperSuccess"
                  - $ref: "#/components/schemas/ResponseWrapperError"
                properties:
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          userID:
                            type: integer
                          userUID:
                            type: string
                          eIamID:
                            type: string
                          email:
                            type: string
                          phone:
                            type: string
                          languageCode:
                            type: string
                          firstName:
                            type: string
                          lastName:
                            type: string
                      businessPartners:
                        type: object
                        properties:
                          name:
                            type: string
                          foreignID:
                            type: string
                          adminEmail:
                            type: string
                          profilesAuthorization:
                            type: array
                            items:
                              type: object
                              properties:
                                profileID:
                                  type: number
                                profileName:
                                  type: string
                                profileForeignID:
                                  type: string
                                profileDescriptionDE:
                                  type: string
                                profileDescriptionFR:
                                  type: string
                                profileDescriptionIT:
                                  type: string
                                profileDescriptionEN:
                                  type: string
                          gprofilesAuthorization:
                            type: array
                            items:
                              type: object
                              properties:
                                profileGroupID:
                                  type: number
                                profileGroupName:
                                  type: string
                                profileGroupForeignID:
                                  type: string
                                profileGroupDescriptionDE:
                                  type: string
                                profileGroupDescriptionFR:
                                  type: string
                                profileGroupDescriptionIT:
                                  type: string
                                profileGroupDescriptionEN:
                                  type: string
                                isAdmin:
                                  type: boolean
                          additionalInfo:
                            type: string
                          profileGroups:
                            type: array
                            items:
                              type: object
                              properties:
                                profileID:
                                  type: number
                                profileName:
                                  type: string
                                profileForeignID:
                                  type: string
                                profileDescriptionDE:
                                  type: string
                                profileDescriptionFR:
                                  type: string
                                profileDescriptionIT:
                                  type: string
                                profileDescriptionEN:
                                  type: string
              examples:
                example-0:
                  summary: Succeeded Get User Authorization List
                  value:
                    success: true
                    statusCode: 200
                    data:
                      - user:
                          userID: 14
                          userUID: BB52AAA3-01CB-11E8-B814-005056AE5FB8
                          eIamID: "216295"
                          email: benjamin.sugden@estv.admin.ch
                          phone: "+41791291110"
                          languageCode: DE
                          firstName: Benjamin
                          lastName: Sugden
                        businessPartners:
                          - name: Red company ESTV
                            foreignID: RED_ESTV
                            profileGroups:
                              - profileGroupID: 10
                                profileGroupName: Domain Internationales
                                profileGroupForeignID: SEI
                                profileGroupDescriptionDE: Domain Internationales DE
                                profileGroupDescriptionFR: Domain Internationales FR
                                profileGroupDescriptionIT: Domain Internationales IT
                                profileGroupDescriptionEN: Domain Internationales EN
                                isAdmin: true
                                profiles: []
                              - profileGroupID: 73
                                profileGroupName: DVS
                                profileGroupForeignID: DVS
                                profileGroupDescriptionDE: DVS
                                profileGroupDescriptionFR: DVS
                                profileGroupDescriptionIT: DVS
                                profileGroupDescriptionEN: DVS
                                isAdmin: false
                                profiles:
                                  - profileID: 10
                                    profileName: Sachbearbeiter
                                    profileForeignID: DVS_EMPL
                                    profileDescriptionDE: Sachbearbeiter DE
                                    profileDescriptionFR: Sachbearbeiter FR
                                    profileDescriptionIT: Sachbearbeiter IT
                                    profileDescriptionEN: Sachbearbeiter EN
                                  - profileID: 11
                                    profileName: AIA / SIA Inbound DE
                                    profileForeignID: INBOUND
                                    profileDescriptionDE: AIA / SIA Inbound DE
                                    profileDescriptionFR: AIA / SIA Inbound FR
                                    profileDescriptionIT: AIA / SIA Inbound IT
                                    profileDescriptionEN: AIA / SIA Inbound EN
                          - name: Red company BAZG
                            foreignID: RED_BAZG
                            profileGroups:
                              - profileGroupID: 6
                                profileGroupName: Geschäftspartner Selfcare
                                profileGroupForeignID: CONNEX-SELFCARE
                                profileGroupDescriptionDE: Geschäftspartner Selfcare
                                profileGroupDescriptionFR: Partenaire commercial Selfcare
                                profileGroupDescriptionIT: Partner commerciali Selfcare
                                profileGroupDescriptionEN: Business Partner Selfcare
                                isAdmin: true
                                profiles: []
                              - profileGroupID: 12
                                profileGroupName: Bierhersteller
                                profileGroupForeignID: BIER_VERWALTEN
                                profileGroupDescriptionDE: Bierhersteller
                                profileGroupDescriptionFR: Producteur de bière
                                profileGroupDescriptionIT: Produttore di birra
                                profileGroupDescriptionEN: Beer producer
                                isAdmin: true
                                profiles: []
                      - user:
                          userID: 623
                          userUID: BB54B73D-01CB-11E8-B814-005056AE5FB8
                          eIamID: "216480"
                          email: ""
                          phone: ""
                          languageCode: fr
                          firstName: BE test
                          lastName: Admin
                        businessPartners:
                          - name: Red company ESTV
                            foreignID: RED_ESTV
                            profileGroups:
                              - profileGroupID: 9
                                profileGroupName: Domain Verrechnungsteuer
                                profileGroupForeignID: DVS
                                profileGroupDescriptionDE: Domain Verrechnungsteuer DE
                                profileGroupDescriptionFR: Domain Verrechnungsteuer FR
                                profileGroupDescriptionIT: Domain Verrechnungsteuer IT
                                profileGroupDescriptionEN: Domain Verrechnungsteuer EN
                                isAdmin: true
                                profiles: []
                example-1:
                  summary: Error 1143 Get User Authorization List
                  value:
                    success: false
                    statusCode: 200
                    errorCode: 1143
                    message: "Invalid user UID param "
        "403":
          description: Response unauthorized access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWrapperError"
              example:
                summary: An example of response Error
                value:
                  success: false
                  statusCode: 403
                  errorCode: 403
                  message: Forbidden
  /api/one/user/{OneExternalID}:
    get:
      tags:
        - ONE & Connex
      summary: GetUser by externalID
      description: |-
        This endpoint allows us to get the userUID about a user by sending the
        ONE external ID.


        ## Authorization

        > Requires **`MyESTV (ONE)`** app token

        > No user requirements


        ## Error codes

        > **`1001: "user not found"`**

        > Received if the specified `ONEexternalID` is not linked to a user
      parameters:
        - name: OneExternalID
          in: path
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Response for success or error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ResponseWrapperSuccess"
                  - $ref: "#/components/schemas/ResponseWrapperError"
              examples:
                example-0:
                  summary: An example of response Success
                  value:
                    success: true
                    statusCode: 200
                    data: 3c49aeda-70d7-4284-4106-1de8900fc258
                example-1:
                  summary: An example of response Error
                  value:
                    success: false
                    statusCode: 200
                    errorCode: 1001
                    message: user not found

    post:
      tags:
        - ONE & Connex
      summary: Create User with externalID
      description: |-
        This endpoint allows us to create an empty user with a new pams UID.
        Then it will link this empty user with the `OneExternalID`
        into the `tabUserExternalID` table. Returns the newly created user UID.


        ## Authorization

        > Requires **`MyESTV (ONE)`** app token

        > No user requirements


        ## Error codes

        > No specific error codes
      requestBody:
        content:
          application/json:
            schema:
              type: object
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          description: One App Token
          example: "{{AppOneToken}}"
        - name: OneExternalID
          in: path
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Response for success or error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ResponseWrapperSuccess"
                  - $ref: "#/components/schemas/ResponseWrapperError"
              examples:
                example-0:
                  summary: An example of response Success
                  value:
                    success: true
                    statusCode: 200
                    data: 3c49aeda-70d7-4284-4106-1de8900fc258
                example-1:
                  summary: An example of response Error
                  value:
                    success: false
                    statusCode: 200
                    errorCode: 999
                    message: Some error message
        "403":
          description: Response unauthorized access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWrapperError"
              example:
                summary: An example of response Error
                value:
                  success: false
                  statusCode: 403
                  errorCode: 403
                  message: Forbidden
  /api/tenants/{TenantUID}/businesspartners/info:
    post:
      tags:
        - ONE & Connex
      summary: List Of BusinessPartner for a Tenant
      description: |-
        This endpoint allows us to get the existing business partners for a
        specific tenant from a provided list of business partner foreignIDs.


        ## Body

        > The body consists of a list of strings. Each string corresponds to a
        foreignID of the searched business partner. This list is limited to 50
        entries and cannot be empty.


        ## Authorization

        > Requires **`MyESTV (ONE)`** app token

        > or **`Connex`** app token

        > No user requirements


        ## Error codes

        > No specific error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                - "1000000026"
                - "1000000027"
                - "ASDADASD"
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: "{{AppOneToken}}"
        - name: TenantUID
          in: path
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Response for success or error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ResponseWrapperSuccess"
                  - $ref: "#/components/schemas/ResponseWrapperError"
              examples:
                example-0:
                  summary: An example of response Success
                  value:
                    success: true
                    statusCode: 200
                    data:
                      - foreignID: "1000000026"
                        name: Pik-Pack GmbH
                        additionalinfo: Kirchbergstrasse 105, 3400 Burgdorf
                      - foreignID: "1000000027"
                        name: Manor AG
                        additionalinfo: Rebgasse 34, 4058 Basel
                example-1:
                  summary: An example of response Error
                  value:
                    success: false
                    statusCode: 200
                    errorCode: 999
                    message: Some error message
  /api/applications/{applicationID}/groups:
    post:
      tags:
        - Group
      summary: Create Group
      description: |-


        Create a new group for an application. The requesting user is automatically set as the Owner of the group.

        ## Authorization
        The authorization token of caller application.

        ### Error codes
        - `1083`: GroupType doesn't exist
        - `1138`: GroupName is missing: Mandatory field missing
        - `1140`: The group name is too long
        - `1182`: Parent Group doesn't exist or is inactive
        - `1184`: GroupForeignID must only contain alphanumeric characters and hyphens, and be less than 45 characters long
        - `1186`: Group Foreign ID already exists
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: "{{token}}"
        - name: applicationID
          in: path
          required: true
          schema:
            type: number
          example: 11
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Group_create"
            examples:
              example-0:
                summary: All values
                value:
                  name: New Group
                  groupForeignID: ABC-DEF-123
                  groupTypeUUID: 1aa1a11a-1aa1-43da-bd3b-0a90767e9ffa
                  parentGroupUUID: 1aa1a11a-7bc4-11aa-bd3b-0a90767e9ffa
              example-1:
                summary: Only required values
                value:
                  name: New Group 1
      responses:
        "200":
          description: Response for success or error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ResponseWrapperSuccess"
                  - $ref: "#/components/schemas/ResponseWrapperError"
              examples:
                example-0:
                  summary: An example of response Success
                  value:
                    success: true
                    statusCode: 200
                    data:
                      applicationID: 48
                      name: New Group
                      groupUUID: 1bb1b11b-1aa1-43da-bd3b-0a90767e9ffa
                      groupForeignID: ABC-DEF-123
                      groupTypeUUID: 1aa1a11a-1aa1-43da-bd3b-0a90767e9ffa
                      parentGroupUUID: 1aa1a11a-7bc4-11aa-bd3b-0a90767e9ffa
                example-1:
                  summary: An example of response with wrong group type id
                  value:
                    success: true
                    statusCode: 200
                    errorCode: 1083
                    message: GroupType doesn't exist

        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWrapperError"
              example:
                value:
                  success: false
                  statusCode: 401
                  errorCode: 401
                  message: unauthorized access
    get:
      tags:
        - Group
      summary: Get groups of an application
      description: |-
        Get a list of groups of a specific application.

        ## Authorization
        The authorization token of caller application.

        - Groups of application endpoint requires a minimum of S3 login level and
        in the application management it is visible by a user with the role application_admin

        ### Error codes
        - `1177`: Invalid API Path Parameters
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: "{{token}}"
        - name: applicationID
          in: path
          required: true
          schema:
            type: number
          example: 11
        - name: type
          in: query
          description: 0 = all, 1 = active, 2 = archived
          schema:
            type: number
            example: 1
        - name: page
          in: query
          schema:
            type: number
            example: 1
        - name: size
          in: query
          schema:
            type: number
            example: 5
        - name: orderby
          in: query
          schema:
            type: string
            example: NAME, PARENTNAME, GROUPID, PARENTGROUPID
        - name: sort
          in: query
          description: Can be 'ASC' or 'DESC'.
          schema:
            type: string
            example: desc
        - name: search
          in: query
          schema:
            type: string
            example: somegroupname
        - name: groupTypeUUID
          in: query
          description: Filter by groupTypeUUID
          schema:
            type: string
            example: ABCF-TRTZ-MNGD-VSAS
      responses:
        "200":
          description: Response for success or error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ResponseWrapperSuccess"
                  - $ref: "#/components/schemas/ResponseWrapperError"
              examples:
                example-0:
                  $ref: "#/components/examples/GroupListResponseSuccessExample"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWrapperError"
              example:
                value:
                  success: false
                  statusCode: 401
                  errorCode: 401
                  message: unauthorized access
  /api/applications/{applicationID}/groups/{groupUUID}:
    put:
      tags:
        - Group
      summary: Update Group
      description: |-


        Update an existing group for an application.
        For more information on updating values, please have a look at the schema.

        ## Authorization
        The authorization token of caller application.

        ### Error codes
        - `1174`: Group not found or inactive
        - `1083`: GroupType doesn't exist
        - `1140`: The group name is too long
        - `1182`: Parent Group doesn't exist or is inactive
        - `1183`: Group and Parent Group can't be equal
        - `1186`: Group Foreign ID already exists
        - `1205`: Missing rights. Group has no active user.
        - `1206`: Default group can't be deleted.
        - `1207`: Missing rights. Requesting user is not owner of the group.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: "{{token}}"
        - name: applicationID
          in: path
          required: true
          schema:
            type: number
          example: 11
        - name: groupUUID
          in: path
          required: true
          schema:
            type: string
          example: ABC-DEF-123
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Group_update"
            examples:
              example-0:
                summary: All values
                value:
                  name: Update Group name
                  groupTypeUUID: 1aa1a11a-1aa1-43da-bd3b-0a90767e9ffa
                  parentGroupUUID: 1aa1a11a-1111-43da-bd3b-0a90767e9ffa
      responses:
        "200":
          description: Response for success or error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ResponseWrapperSuccess"
                  - $ref: "#/components/schemas/ResponseWrapperError"
              examples:
                example-0:
                  summary: An example of response Success
                  value:
                    success: true
                    statusCode: 200
                    data:
                      applicationID: 48
                      name: New Group
                      groupUUID: 1bb1b11b-1aa1-43da-bd3b-0a90767e9ffa
                      groupForeignID: ABC-DEF-123
                      groupTypeUUID: 1aa1a11a-1aa1-43da-bd3b-0a90767e9ffa
                      parentGroupUUID: 1aa1a11a-7bc4-11aa-bd3b-0a90767e9ffa
                example-1:
                  summary: An example of response with wrong group type id
                  value:
                    success: true
                    statusCode: 200
                    errorCode: 1083
                    message: GroupType doesn't exist
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWrapperError"
              example:
                value:
                  success: false
                  statusCode: 401
                  errorCode: 401
                  message: unauthorized access
    get:
      tags:
        - Group
      summary: Get Group details
      description: |-


        Get details for a specific group of a specific application.

        ## Authorization
        The authorization token of caller application.

        ### Error codes
        - `1174`: Group not found or inactive
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: "{{token}}"
        - name: applicationID
          in: path
          required: true
          schema:
            type: number
          example: 11
        - name: groupUUID
          in: path
          required: true
          schema:
            type: string
          example: ABC-DEF-123
      responses:
        "200":
          description: Response for success or error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ResponseWrapperSuccess"
                  - $ref: "#/components/schemas/ResponseWrapperError"
              example:
                value:
                  success: true
                  statusCode: 200
                  data:
                    groupName: New Group
                    appName: My Application
                    groupUUID: 1bb1b11b-1aa1-43da-bd3b-0a90767e9ffa
                    groupForeignID: ABC-DEF-123
                    groupTypeUUID: 1aa1a11a-1aa1-43da-bd3b-0a90767e9ffa
                    parentGroupUUID: 1aa1a11a-7bc4-11aa-bd3b-0a90767e9ffa
                    nbOfUsers: 2
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWrapperError"
              example:
                value:
                  success: false
                  statusCode: 401
                  errorCode: 401
                  message: unauthorized access
    delete:
      tags:
        - Group
      summary: Delete Group
      description: |-


        Delete a specific group of a specific application. If this Group has child groups, the child groups will also
        be deleted. Additionally the corresponding invitations codes (if any) and users will be deactivated.


        A Group can only be deleted if the requesting user is the owner of the group and the group is not a default group.


        ## Authorization
        The authorization token of caller application.

        ### Error codes
        - `1174`: Group not found or inactive
        - `1205`: Missing rights. Group has no active user.
        - `1206`: Default group can't be deleted.
        - `1207`: Missing rights. Requesting user is not owner of the group.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: "{{token}}"
        - name: applicationID
          in: path
          required: true
          schema:
            type: number
          example: 11
        - name: groupUUID
          in: path
          required: true
          schema:
            type: string
          example: ABC-DEF-123
      responses:
        "200":
          description: Response for success or error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ResponseWrapperSuccess"
                  - $ref: "#/components/schemas/ResponseWrapperError"
              examples:
                example-0:
                  summary: Example success
                  value:
                    success: true
                    statusCode: 200
                    data: ABC-DEF-123
                example-1:
                  summary: Example failure
                  value:
                    success: true
                    statusCode: 200
                    errorCode: 1174
                    message: Group not found or inactive
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWrapperError"
              example:
                value:
                  success: false
                  statusCode: 401
                  errorCode: 401
                  message: unauthorized access

  /api/applications/{applicationID}/groups/{groupUUID}/users:
    get:
      tags:
        - Group
      summary: Get Group User List
      description: |-


        Get a list of users for a specific group of a specific application.

        ## Authorization
        The authorization token of caller application.

        ### Error codes
        - `1174`: Group not found or inactive
        - `1208`: No Users found for the given group
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: "{{token}}"
        - name: applicationID
          in: path
          required: true
          schema:
            type: number
          example: 11
        - name: groupUUID
          in: path
          required: true
          schema:
            type: string
          example: ABC-DEF-123
        - name: page
          in: query
          schema:
            type: number
            example: 1
        - name: size
          in: query
          schema:
            type: number
            example: 5
        - name: orderby
          in: query
          description: Can be 'Email', default is 'LastName and FirstName ASC'.
          schema:
            type: string
            example: Email
        - name: sort
          in: query
          description: Can be 'ASC' or 'DESC'.
          schema:
            type: string
            example: desc
        - name: showRoles
          in: query
          description: Set to true to show the roles.
          schema:
            type: boolean
            example: true
        - name: roleForeignIds
          in: query
          description: Filter by roleForeignIds. Comma separated list of role foreign Ids.
          schema:
            type: string
            example: ABC,DEF
      responses:
        "200":
          description: Response for success or error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ResponseWrapperSuccess"
                  - $ref: "#/components/schemas/ResponseWrapperError"
              examples:
                example-0:
                  $ref: "#/components/examples/GroupUserListResponseSuccessExample"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWrapperError"
              example:
                value:
                  success: false
                  statusCode: 401
                  errorCode: 401
                  message: unauthorized access
  /api/applications/{applicationID}/groups/{groupUUID}/childgroups:
    get:
      tags:
        - Group
      summary: Get Child Group List
      description: |-


        Get all the child groups for a specific group of a specific application.

        ## Authorization
        The authorization token of caller application.

        ### Error codes
        - `1174`: Group not found or inactive
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: "{{token}}"
        - name: applicationID
          in: path
          required: true
          schema:
            type: number
          example: 11
        - name: groupUUID
          in: path
          required: true
          schema:
            type: string
          example: ABC-DEF-123
        - name: page
          in: query
          schema:
            type: number
            example: 1
        - name: size
          in: query
          schema:
            type: number
            example: 5
        - name: orderBy
          in: query
          description: Can be 'Name' or 'GroupForeignID', default is 'Name'.
          schema:
            type: string
            example: Name
        - name: sort
          in: query
          description: Can be 'ASC' or 'DESC', default is 'ASC'.
          schema:
            type: string
            example: DESC
        - name: depth
          in: query
          description: |
            The depth of the children to be returned. Can be 'All' or 'One', default is 'All'. 
            When set to 'One' only one level is returned. 'All' is returning all children and children of children.
          schema:
            type: string
            example: All
      responses:
        "200":
          description: Response for success or error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ResponseWrapperSuccess"
                  - $ref: "#/components/schemas/ResponseWrapperError"
              examples:
                example-0:
                  $ref: "#/components/examples/ChildGroupListResponseSuccessExample"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWrapperError"
              example:
                value:
                  success: false
                  statusCode: 401
                  errorCode: 401
                  message: unauthorized access

  /api/applications/{applicationID}/groups/{groupUUID}/users/{userUID}:
    put:
      tags:
        - Group
      summary: Update Group User
      description: |-
        Updates the state of a user of a group of a specific application.

        ## Authorization
        The authorization token of caller application. The calling user must at least be Level S3 and has one of the
        roles of Application Admin, Application User or Authorization User.

        ### Error codes
        - `1004`: User not found
        - `1174`: Group not found or inactive
        - `1213`: Can't update a group user by PAMS in the application without group management
        - `1215`: Can't find user in group
        - `1216`: Missing at least one owner in the group
        - `1217`: You cannot modify a default group
        - `1218`: User is not a manager nor an owner
        - `1219`: A manager can't delete a owner or manager

      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: "{{token}}"
        - name: applicationID
          in: path
          required: true
          schema:
            type: number
          example: 11
        - name: groupUUID
          in: path
          required: true
          schema:
            type: string
          example: ABC-DEF-123
        - name: userUID
          in: path
          required: true
          schema:
            type: string
          example: UU1-UU2-UU3
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupUser_update"
            example:
              isOwner: true
              isManager: false
      responses:
        "200":
          description: Response for success or error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ResponseWrapperSuccess"
                  - $ref: "#/components/schemas/ResponseWrapperError"
              examples:
                example-0:
                  $ref: "#/components/examples/UpdateGroupUserResponseSuccessExample"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWrapperError"
              example:
                value:
                  success: false
                  statusCode: 401
                  errorCode: 401
                  message: unauthorized access
    delete:
      tags:
        - Group
      summary: Delete Group User
      description: |-
        Removes a user from a group of a specific application.

        ## Authorization
        The authorization token of caller application. The calling user must at least be Level S3 and has one of the
        roles of Application Admin, Application User or Authorization User.

        ### Error codes
        - `1174`: Group not found or inactive
        - `1220`: The last admin can't be removed

      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: "{{token}}"
        - name: applicationID
          in: path
          required: true
          schema:
            type: number
          example: 11
        - name: groupUUID
          in: path
          required: true
          schema:
            type: string
          example: ABC-DEF-123
        - name: userUID
          in: path
          required: true
          schema:
            type: string
          example: UU1-UU2-UU3
      responses:
        "200":
          description: Response for success or error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ResponseWrapperSuccess"
                  - $ref: "#/components/schemas/ResponseWrapperError"
              example:
                value:
                  success: true
                  statusCode: 200
                  data:
                    value: 2
                    summary: Returns the remaining number of group administrators
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseWrapperError"
              example:
                value:
                  success: false
                  statusCode: 401
                  errorCode: 401
                  message: unauthorized access

  /api/applications/{applicationID}/grouptypes:
    parameters:
      - in: path
        name: applicationID
        required: true
        schema:
          type: integer
          minimum: 1
        description: The application ID
    get:
      tags:
        - Group Types
      summary: Get Group Types
      description: |-


        Returns all group types for this application.

        ### Authorization

        * The user must have access to the application.

        * The application token must be valid.

        ### Error codes
        - `1125`: Invalid Application ID
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: "{{token}}"
        - name: page
          in: query
          schema:
            type: number
            example: 1
        - name: size
          in: query
          schema:
            type: number
            example: 5
        - name: type
          in: query
          description: Set 0 = all, 1 = active, 2 = archived.
          schema:
            type: number
            example: 0
        - name: orderBy
          in: query
          description: Can be 'Name' or 'GroupTypeForeignID'.
          schema:
            type: string
            example: GroupTypeForeignID
        - name: sort
          in: query
          description: Can be 'ASC' or 'DESC'.
          schema:
            type: string
            example: DESC
        - name: search
          in: query
          description: The string the name should start with.
          schema:
            type: string
            example: tax
      responses:
        "200":
          description: Response for success or error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/GetGroupTypeResponse"
                  - $ref: "#/components/schemas/ResponseWrapperError"
              examples:
                example-0:
                  summary: An example of response Success
                  value:
                    success: true
                    statusCode: 200
                    data:
                      - applicationID: 123
                        groupTypeUUID: "777dac9c-40a5-4b78-a80f-5cf2e836954c"
                        groupTypeForeignID: "application-delegate"
                        name: "Application Delegate"
                      - applicationID: 123
                        groupTypeUUID: "177dac9c-40a5-4b78-a80f-5cf2e836954c"
                        groupTypeForeignID: "application-admin"
                        name: "Application Admin"
    post:
      tags:
        - Group Types
      summary: Add Group Type
      description: |-


        Create a new Group Type.

        ### Authorization

        - A new group type can only be created by someone with the role
          application_admins, application_users, or AuthorizationUsers
        - An application can only create group types for itself.

        ### Error codes
        - `1125`: Invalid Application ID
        - `1168`: This grouptype already exists
        - `1178`: GroupType Name is missing
        - `1179`: GroupType Name is too long
        - `1180`: GroupTypeForeignID must only contain alphanumeric characters and hyphens, and be max. 45 characters long
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupTypeRequest"
            examples:
              example-0:
                $ref: "#/components/examples/GroupTypeRequestExample"
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: "{{token}}"
      responses:
        "200":
          description: Response for success or error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/GroupTypeResponse"
                  - $ref: "#/components/schemas/ResponseWrapperError"
              examples:
                example-0:
                  summary: An example of response Success
                  value:
                    success: true
                    statusCode: 200
                    data:
                      applicationID: 123
                      groupTypeUUID: "222dac9c-40a5-4b18-a80f-5cf2e836954c"
                      groupTypeForeignID: "application-delegate"
                      name: "Application Delegate"
                example-1:
                  summary: An example of response Error
                  value:
                    success: false
                    statusCode: 200
                    errorCode: 1168
                    message: This grouptype already exists

  /api/applications/{applicationID}/grouptypes/{groupTypeUUID}:
    parameters:
      - in: path
        name: applicationID
        required: true
        schema:
          type: integer
          minimum: 1
        description: The application ID
      - in: path
        name: groupTypeUUID
        required: true
        schema:
          type: string
        description: The group type UUID
    put:
      tags:
        - Group Types
      summary: Update Group Type
      description: |-


        Update a Group Type.

        ### Authorization

        - A new group type can only be created by someone with the role
          applicationAdmins, applicationUsers, or AuthorizationUsers
        - An application can only create group types for itself.

        ### Error codes
        - `1125`: Invalid Application ID
        - `1178`: GroupType Name is missing
        - `1179`: GroupType Name is too long
        - `1180`: GroupTypeForeignID must only contain alphanumeric characters and hyphens, and be max. 45 characters long
        - `1181`: The combination from application ID and GroupTypeUUID does not exist
        - `1187`: GroupType Foreign ID already exists
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupTypeUpdateRequest"
[...]
